.accountPage {
    position: relative;
    /* height: 1000px; */
}

.sqaure {
    /* border: 2px solid red; */
    width: 40vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: 20px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
     rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.heading h2 {
    margin-left: 25px;
    
}
 /* Styling the Form (Color, Padding, Shadow) */
 form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: -3px;
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    background-color: #EEF5FC;
    border-radius: 8px;
}

/* Styling form-control Radio
button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: #EEF5FC;
    border: 1px solid #777;
    border-radius: 8px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.signUpWith {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tinLine {
    /* border: 1px solid purple; */
    width: 145px;
    height: 1px;
    color: red;
    background-color: #ABBED1;
}

.Btn {
    /* border: 1px solid yellow; */
    display: flex;
    width: 390px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: -15px;
}

.bottom {
    margin-top: 40px;
    font-size: 8px;
    text-align: center;
    color: #212121;
    ;
}